@import "tailwindcss";

@layer theme {
  .theme-light {
    --color-white: #0f172a;
    --color-black: #ffffff;
    --color-slate-50: oklch(12.9% 0.042 264.695);
    --color-slate-100: oklch(20.8% 0.042 265.755);
    --color-slate-200: oklch(27.9% 0.041 260.031);
    --color-slate-300: oklch(37.2% 0.044 257.287);
    --color-slate-400: oklch(44.6% 0.043 257.281);
    --color-slate-500: oklch(55.4% 0.046 257.417);
    --color-slate-600: oklch(70.4% 0.04 256.788);
    --color-slate-700: oklch(86.9% 0.022 252.894);
    --color-slate-800: oklch(92.9% 0.013 255.508);
    --color-slate-900: oklch(96.8% 0.007 247.896);
    --color-slate-950: oklch(98.5% 0.002 247.839);
  }

  .theme-hc {
    --color-white: #000000;
    --color-black: #ffffff;
    --color-slate-50: #000000;
    --color-slate-100: #000000;
    --color-slate-200: #000000;
    --color-slate-300: #000000;
    --color-slate-400: #000000;
    --color-slate-500: #888888;
    --color-slate-600: #ffffff;
    --color-slate-700: #ffffff;
    --color-slate-800: #ffffff;
    --color-slate-900: #ffffff;
    --color-slate-950: #000000;

    --color-indigo-400: #00ffff;
    --color-indigo-500: #00ffff;
    --color-indigo-600: #00ffff;
    
    --color-emerald-400: #00ff00;
    --color-emerald-500: #00ff00;
    
    --color-red-400: #ff0000;
    --color-red-500: #ff0000;
  }
}
